div{
    width: 50%;
    /*  margin-left: 350px;*/
    text-align: center;
    font-family: 'Lobster', cursive;
}

#top{
    position: absolute;
    left:30%;
    top: 10%;
    /* margin-top: 50px;*/
    background-color: crimson;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    
}

#bottom{
    margin-top: 400px;
    background-color: cyan;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}